//Colors
$white: white;
$black: black;
$black-two: #191919;
$gray: #C9C9C9;
$gray-banner: #EDEDED;
$gray-font: #4C4C4C;
$gray-shadow: #BBBBBB;
$gray-form: #EFEFEF;
$gray-table: #C7C7CC;
$yellow: #FF9400;
$orange: #FF8300;
$blue: #191938;
$blue-light: #0F6387;
$blue-sky: #009DFF;
$blue-two: #006eb3;
$red: #C20D19;


//Sizes
$header-height: 110px;
$footer-height: 110px;
$sidenav-width: 90px;
$sidenav-open-width: 250px;

